@font-face {
  font-family: Gill Sans Nova Inline;
  src: url("/assets/Gill Sans Nova Inline.otf") format("opentype");
}

@font-face {
  font-family: GillSans-LightSC;
  src: url("/assets/GillSans-LightSC.otf") format("opentype");
}

body {
  font-family: 'Gill Sans', sans-serif;
  background-color: #bed5e4;
  font-size: 18px;
}

header {
  margin-bottom: 30px;
}

.container {
  max-width: 810px;
  margin: 0 auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: -2px 4px 16px 0px rgb(143, 151, 158);
  -moz-box-shadow: -2px 4px 16px 0px rgb(143, 151, 158);
  box-shadow: -2px 4px 16px 0px rgb(143, 151, 158);
}

.pinecone-wpr {
  text-align: center;
}

.pinecone {
  width: 200px;
}

h1 {
  color: #648fa8;
  font-family: "Gill Sans Nova Inline", "Gill Sans", sans-serif;
  font-weight: 100;
  font-size: 48px;
  text-align: center;
  margin: 0;
}

h2 {
  color: #648fa8;
  font-family: "GillSans-LightSC";
  text-align: center;
  margin-top: 10px;
}

h3 {
  font-weight: 500;
  margin-left: 4px;
  margin-top: 45px;
}

main > p {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 2px;
}

.my-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-wpr {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.horizontal-wpr {
  max-width: 400px;
}

.vertical-wpr {
  max-width: 224px;
}

video {
  width: 100%;
  max-width: 400px;
  max-height: 400px;
}

.full-height {
  min-height: 100vh;
}

@media (max-width: 640px) {
  .container {
    padding: 10px;
  }

  h3 {
    margin-left: 2px;
  }
}